.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea
/datetimepicker-library/build
/*.iml
/app/*.iml
/*.jks
/*.hprof
*.hprof

/app/release-signing.gradle
/app/pennywise.jks
/app/pennywise-app-keystore.properties
